<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593906854099-rq4uf9e511koe4evhm1b009jq4dtgh6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593906854099-rq4uf9e511koe4evhm1b009jq4dtgh6o</string>
	<key>API_KEY</key>
	<string>AIzaSyAi46QhOjleTAS4QFBT_s25ikzm2g2RrkU</string>
	<key>GCM_SENDER_ID</key>
	<string>593906854099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Mac.Flash-Chat-iOS13-App</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fef67</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fef67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593906854099:ios:d2d48e7c2c337463bd0c26</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-fef67.firebaseio.com</string>
</dict>
</plist>